@*@model IEnumerable<Auto>
    *@


    @model AspCorePluSight.ViewModels.MixedViewModel


    <a asp-action="Index" asp-controller="Home">Home...</a>
    @foreach (Auto item in Model.Autos)
    {
    <br />
    <label>
        <b>
            @item.brand
        </b> - <b>
            @item.Name
        </b>
    </label>
    @Html.Partial("_SummaryDefault", item)

    }

    <h3>  Rests  </h3>
    @foreach (Restaurant item in Model.Restaurants)
    {
    <br />
    <label>@item.Name =>> @item.Cuisine </label>
    <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id">Detail...</a>

    <br />
    }


    <br />
