@model AspCorePluSight.ViewModels.TestMixedViewModel
<h1>Union</h1>

@foreach (var item in Model.Unions)
{
    <label>@item.ToString()</label>
}
<h1>Intersect</h1>
@foreach (var item in Model.Intersects)
{
    <label>@item.ToString()</label>
}
<h1>  Except  </h1>
@foreach (var item in Model.Excepts)
{
    <label>@item.ToString()</label>
}

<h4>   Concat </h4>
@foreach (var item in Model.Concats)
{
    <label>@item.ToString()</label>
}
<h4>  Filter </h4>
@foreach (var item in Model.Filter)
{
    <label>@item.ToString()</label>
}